# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.csv
*.json
*.txt


# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

.venv

.env

# Local development configuration
.idea/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases
*.log
*.sqlite3

# Output of Sphinx documentation
docs/_build/

# PyCharm files
.idea/
*.iml
*.ipr
*.iws

# Jupyter Notebook files
.ipynb_checkpoints/

# Environment files
.env
.env.local
.env.*.local

# macOS specific files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# VS Code specific files
.vscode/
